body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
  color: #333;
}

.contenedor {
  width: 90%;
  margin: 0 auto; /* Centra horizontalmente */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.miembro {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra contenido horizontal */
  justify-content: center; /* Centra vertical */
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.subtitulo {
  font-size: larger;
  margin-bottom: 10px;
  color: #222;
}

.descripcion {
  margin-bottom: 20px;
  color: #555;
}

button {
  background-color: #FF008A;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 20px; /* Redondeado tipo píldora */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d40073;
}

