.tareas-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px auto;

  button {
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #2794E3;
    color: white;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      background-color: #2759E3;
    }
  }
}

.tarea-tarjeta {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
  color: #000000;
  border-radius: 8px;

  &:nth-child(odd) {
    background-color: #FFFFF1;
  }

  &:nth-child(even) {
    background-color: #E7D8D6;
  }
}

.tarea-img {
  width: 50px;
  height: 50px;
}

.tarea-contenido {
  display: flex;
  flex-direction: column;
}

.tarea-texto {
  margin: 0;
}

.tarea-icono-ubi-contenedor {
  display: flex;
}

.tarea-icono-ubi {
  width: 30px;
  height: 30px;
}

.tarea-icono-texto {
  font-size: 10px;
}

.disable {
  display: none;
}
